# k-rcps
scipy
ml_collections
scikit-image
cvxpy
tqdm

# suprem
connected-components-3d
h5py==3.6.0
# monai==0.9.0
monai==1.3.0
# torch==1.11.0
torch==2.4.1 # pip install torch==2.4.1 torchvision==0.19.1 --index-url https://download.pytorch.org/whl/cu124
tqdm
fastremap
simpleitk
ipdb
matplotlib
tensorboardX
ml-collections
einops
timm
elasticdeform
# numpy
numpy < 2
nibabel
scipy
pandas
glob2
pytorch-lightning
opencv-python

# rest of the project
# numpy
pandas
Pillow
# tqdm
nibabel
matplotlib
seaborn
scikit-learn
# monai
wandb
torchvision